<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/style.css" />
<div class="row mt-5">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <p><%= message %></p>
  </div>
</div>
